name: Wine Model CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:

  # ============================
  # JOB 1: TRAIN (CI)
  # ============================
  train:
    runs-on: ubuntu-latest

    outputs:
      r2: ${{ steps.metrics.outputs.r2 }}
      mse: ${{ steps.metrics.outputs.mse }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install Dependencies
        run: |
          pip install pandas scikit-learn joblib

      - name: Run Training Script
        run: python scripts/train.py

      - name: Extract Metrics
        id: metrics
        run: |
          R2=$(jq '.r2' outputs/metrics.json)
          MSE=$(jq '.mse' outputs/metrics.json)
          echo "r2=$R2" >> $GITHUB_OUTPUT
          echo "mse=$MSE" >> $GITHUB_OUTPUT

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: model-artifacts
          path: outputs/


  # ============================
  # JOB 2: DEPLOY (CD)
  # ============================
  deploy:
    needs: train
    runs-on: ubuntu-latest

    steps:

      - name: Compare Metrics
        id: compare
        run: |
          echo "Current R2: ${{ needs.train.outputs.r2 }}"
          echo "Current MSE: ${{ needs.train.outputs.mse }}"
          echo "Best R2: ${{ vars.BEST_R2 }}"
          echo "Best MSE: ${{ vars.BEST_MSE }}"

          if (( $(echo "${{ needs.train.outputs.r2 }} > ${{ vars.BEST_R2 }}" | bc -l) )) && \
             (( $(echo "${{ needs.train.outputs.mse }} < ${{ vars.BEST_MSE }}" | bc -l) )); then
            echo "improved=true" >> $GITHUB_OUTPUT
          else
            echo "improved=false" >> $GITHUB_OUTPUT
          fi

      - name: Stop if Model Did Not Improve
        if: steps.compare.outputs.improved == 'false'
        run: echo "2022bcs0162 ---- Metric did not improve"

      - name: Checkout Repository
        if: steps.compare.outputs.improved == 'true'
        uses: actions/checkout@v4

      - name: Download Artifacts
        if: steps.compare.outputs.improved == 'true'
        uses: actions/download-artifact@v4
        with:
          name: model-artifacts
          path: .
      - name: Move Model and Scaler to App Folder
        if: steps.compare.outputs.improved == 'true'
        run: |
          mv model.pkl app/model.pkl
          mv scaler.pkl app/scaler.pkl

      - name: Login to Docker Hub
        if: steps.compare.outputs.improved == 'true'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build Docker Image
        if: steps.compare.outputs.improved == 'true'
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/wine_predict_2022bcs0162:latest ./app

      - name: Push Docker Image
        if: steps.compare.outputs.improved == 'true'
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/wine_predict_2022bcs0162:latest